<div class="container mt-5">

    <h4>Internal Server Error - refreshing the page will make the exception disappear</h4>
    <ng-container *ngIf="error">
        <h5 class="text-danger">Error: {{error.message}}</h5>
        <p class="font-weight-bold">Note: if you are seeing this then angular is probably no responsible</p>
        <p>Following is the stack trace - this is where your investigation should start!</p>
        <code class="mt-5" style="background-color: whitesmoke;">{{error.details}}</code>
    </ng-container>

</div>
