<div class="container mt-2">
    <div *ngIf="(basket$ | async) === null">
        <p>No items in your basket</p>
    </div>
    
    <div *ngIf="(basket$ | async)">
        <div class="pb-5">
            <div class="container">
                <div class="row">
                    <div class="col-12 py-5 mb-1">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="border-0 bg-light" scope="col">
                                            <div class="p-2 px-3 text-uppercase">Product</div>
                                        </th>
                                        <th scope="col" class="border-0 bg-light">
                                            <div class="py-2 text-uppercase">Price</div>
                                        </th>
                                        <th scope="col" class="border-0 bg-light">
                                            <div class="py-2 text-uppercase">Quantity</div>
                                        </th>
                                        <th scope="col" class="border-0 bg-light">
                                            <div class="py-2 text-uppercase">Total</div>
                                        </th>
                                        <th scope="col" class="border-0 bg-light">
                                            <div class="py-2 text-uppercase">Remove</div>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of (basket$ | async).items">
                                        <th scope="row">
                                            <div class="p-2">
                                                <img src="{{item.pictureUrl}}" alt="{{item.productName}}" class="img-fluid" style="max-height: 50px;">
                                                <div class="ml-3 d-inline-block align-middle">
                                                    <h5 class="mb-0"></h5>
                                                    <a routerLink="/shop/{{item.id}}" class="text-dark">{{item.productName}}</a>
                                                    <span class="text-muted font-weight-normal font-italic d-block">Type: {{item.type}}</span>
                                                </div>
                                            </div>
                                        </th>
                                        <td class="align-middle">
                                            <strong>{{item.price | currency}}</strong>
                                        </td>
                                        <td class="align-middle">
                                            <div class="d-flex align-items-center">
                                                <i
                                                (click)="decrementItemQuantity(item)"
                                                class="fa fa-minus-circle text-warning mr-2"
                                                style="cursor: pointer; font-size: 2em;"
                                              ></i>
                                              <span class="font-weight-bold" style="font-size: 1.5em;">{{item.quantity}}</span>
                                              <i
                                                (click)="incrementItemQuantity(item)"
                                                class="fa fa-plus-circle text-warning mx-2"
                                                style="cursor: pointer; font-size: 2em;"
                                              ></i>
                                            </div>
                                        </td>
                                        <td class="align-middle">
                                            <strong>{{item.price * item.quantity | currency}}</strong>
                                        </td>
                                        <td class="align-middle text-center">
                                            <a class="text-danger"><i (click)="removeBasketItem(item)" class="fa fa-trash" style="font-size: 2em; cursor: pointer;"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 offset-6">
                        <app-order-totals></app-order-totals>
                        <a routerLink="/checkout" class="btn btn-outline-primary py-2 btn-block">Proceed to checkout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

